a {
  text-decoration: none;
  color: $black;
}

.topheader {
  box-shadow: 0 3px 5px rgb(98, 98, 98);
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}
//footer

// Buscador de productos
.navbarnavbar {
  display: flex;
  padding-left: 501px;
  padding-right: 505px;
  padding-bottom: 20px;
  padding-top: 30px;
}
// cards de productos
.toparticulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

// Sobre nosotros
.texto {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 100px;
}

.texto2 {
  display: flex;
  flex-direction: column;
  padding-left: 500px;
  padding-right: 500px;
}

.texto3 {
  display: flex;
  justify-content: space-between;
  padding-left: 500px;
  padding-right: 500px;
}

//Acordeon de ayuda
.main-acordeon {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
}

//Formulario de contacto
.container2 {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
}

.logotype {
  display: flex;
  justify-content: center;
}

// Imagen de producto y de nosotros
.logo-2 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

/* Menu */
.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 30px 15px;
}

.menu a {
  color: $black;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase;

  position: relative;
}

.open-menu,
.close-menu {
  display: none;
}

@media (max-width: 950px) {
  /* Menu */
  .menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    color: $black;
    line-height: 60px;
  }
}
