@import "../variables/variables";

$boton: (
  color: $black,
  centro: $alinear-al-centro,
  fSize: $size,
);

nav ul li a {
  text-align: map-get($boton, centro);
  font-size: map-get($boton, fSize);
  color: map-get($boton, color);
}
